
.input{
	
	width: calc(100px * 2);
	height:30px;
	outline:none;
	border:none;
	cursor:pointer;
	border-radius: 5px;
	margin: 5px;
	text-align: center;
}

.input-junior{
	color: white;
	background: black;
	font-size: 18px;
}

.input-junior:focus{
	background: orange;
	color: black;
}

.input-junior:hover{
	background: orange;
	color: black;
}