.message-wrapper{
	position:absolute;
	bottom:0;
	width:100%;
	background:black;
}

.message{

display: flex;
flex-direction: row;
align-items:center;

height:100%;

}

.message textarea{
background-color:rgba(225,225,225,0.1);
color:white;
height:100px;
width:100%;
resize: none;
font:16px Verdana, Sans-serif;
}

.message-btns{
	display:flex;
	flex-direction: column;
}
