.btn{
	
	width: 100px;
	height:30px;
	outline:none;
	border:none;
	cursor:pointer;
	border-radius: 5px;
	margin: 5px;
}

.btn-junior{
	color: white;
	background: black;
	font-size: 18px;
}

.btn-junior:hover{
	background: orange;
	color: black;
}


 