
.tip{
display: inline-block;
position: absolute;
width: 200px;
text-align: center;
height:50px;
}

.tip div{
    text-align: center;
}


.tip h2{
display:inline;
background-color: firebrick;
border: 1px solid lightgreen;
border-radius: 5px;
color:silver;


}

.tip p{
text-align: center;
padding:3px;
}

/*.tip p::after {
    content: ''; 
    position: absolute; 
    border: 10px solid transparent; 
    border-left: 10px solid sienna;
    left:15.2%;
    top:4.5%;

   }*/

.tip-arrow{
	position: absolute; 
    border: 10px solid transparent; 
    
    /*left:100%;
    top:37%;*/
}





.tip-junior{

background-color: sienna;
font:bold 14px Papyrus Fantasy;
color:silver;
border:1px solid rgba(0,0,0,0,5);
border-radius: 10px;
box-shadow: 0 0 10px rgba(0,0,0,1);
}