.field input{
	text-align: center;
}
.field{
	width:304px;
	font:20px Papyrus,Fantasy;

}
.field-action{
	position: relative;
	
}
.field-action button{
	position: absolute;
	height:100%;
	width:130px;
	font: 18px Papyrus,Fantasy;
	border:0;outline:0;
	background:black;
	color:white;
}
.field-action button:hover{
	background:orange;
	color:black;
	cursor:pointer;
}
.field-action select{
	border:0;outline: 0;
	width:174px !important;
	cursor:pointer;
}
.field-action input{
	border:0;outline: 0;
	width:170px !important;
	cursor:pointer;
}

.field select{
	height:55px;
	width:304px;
	background:black;
	color:white;
	overflow:hidden;
	border:0;outline:0;
}

.field input{
	height:55px;
	width:300px;
	background:black;
	color:white;
	overflow:hidden;
	border:0;outline:0;
}

.field option{
	font:20px Papyrus,Fantasy;
}

