.description{
display:flex;
flex-direction: column;
justify-content: center;
max-width: 600px;
align-items: center;
text-align: center;
}

.description h2{
background-color: firebrick;
border: 1px solid lightgreen;
border-radius: 5px;
color:silver;
}

.description section{
margin:5px;
}

.description-junior{
	
/*background-image: url('logo.svg');
background-repeat: no-repeat;
background-position: top center;*/

background-color: sienna;
font:bold 20px Papyrus Fantasy;
color:silver;
border:1px solid rgba(0,0,0,0,5);
border-radius: 10px;
box-shadow: 0 0 10px rgba(0,0,0,1);
}

